[project]
	description = i3lock script that takes a screenshot of the desktop, blurs the background and adds a lock icon and text
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luca Miccini (lmiccini)
[access "refs/for/refs/*"]
	read = group user/Luca Miccini (lmiccini)
	push = group user/Luca Miccini (lmiccini)
	label-Code-Review = -2..+2 group user/Luca Miccini (lmiccini)
	label-Verified = -1..+1 group user/Luca Miccini (lmiccini)
	rebase = group user/Luca Miccini (lmiccini)
	removeReviewer = group user/Luca Miccini (lmiccini)
	submit = group user/Luca Miccini (lmiccini)
[access "refs/heads/*"]
	read = group user/Luca Miccini (lmiccini)
	create = group user/Luca Miccini (lmiccini)
	push = +force group user/Luca Miccini (lmiccini)
	pushMerge = group user/Luca Miccini (lmiccini)
[access "refs/tags/*"]
	push = group user/Luca Miccini (lmiccini)
	push = +force group user/Luca Miccini (lmiccini)
